/data.csv
/.ipynb_checkpoints/
/downloaded_models/
/__pycache__/
/artifacts/random_forest_classifier.pkl
/artifacts/random_forest_model.pkl
/lively-nimbus-473407-m9-67ab82e5a068.json
/k8s/.ipynb_checkpoints/
