apiVersion: v1
kind: Service
metadata:
  name: iris-workload-deployment-service
  namespace: default
spec:
  selector:
    app: iris-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000   # Matches containerPort
  type: LoadBalancer
